<ion-header>
  <ion-toolbar>
    <ion-title>RECUPERAR CONTRASEÑA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">

  <ion-card class="text">
    <h1 class="text">DEBE ESTAR REGISTRADO</h1>
    <ion-icon name="key" style="zoom:8.0;"></ion-icon><br>

    <ion-grid>
      <ion-row>
        <ion-col text-center>

          <p>Se le enviará un correo para actualizar su contraseña</p>

          <ion-label position="floating">USUARIO</ion-label>
          <ion-input class="text" clearInput type="email" [(ngModel)]="email"></ion-input>

        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button class="text" (click)="resetPassword()" color="primary">
      Aceptar
    </ion-button><br>

    <ion-button class="text" color="danger" href="/login">
      Cancelar
    </ion-button><br>

  </ion-card>

</ion-content>