ion-input{
    border-bottom: 1px solid black;
}

a{
    text-decoration: none;
    font-size: 1.4em;
    color: black;
}

ion-card{
    background-image: url(../../../assets/img/fondoapp.jpg);
    width:50%;
    margin-left: 25%;
    color:black;
}

h1{
    background-color: #3393C8;
}

ion-label{
    background-color: #3393C8;
}

