<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col size="6">

        <ion-card class="text">
          <a href="https://www.linkedin.com/in/adrian-egea-hermoso-alumno-dam-iescampanillas/" target="blank"><img  src="../../../assets/img/adri2.png" /></a>
          <ion-card-header>
            <ion-card-subtitle>AUTOR</ion-card-subtitle>
            <ion-card-title>ADRIÁN EGEA HERMOSO</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Edad: 38 años</p>
            <p>Alumno de Ciclo Formativo Grado Superior Desarrollo Aplicaciones Multiplataforma.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>


      <ion-col size="6">

        <ion-card class="text">
          <a href="https://iescampanillas.com/" target="blank"><img src="../../../assets/img/centro.jpg" /></a>

          <ion-card-header>
            <ion-card-subtitle>CENTRO DE ESTUDIOS</ion-card-subtitle>
            <ion-card-title>I.E.S. CAMPANILLAS</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Sede Incubadora: Calle Frederick Termann, 3, 29590, Parque Tecnológico de Andalucía, Málaga.</p>
            <p>Sede IES CAmpanillas: Calle Fausto 45, Campanillas, 29590 , Málaga</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>