/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/* FUENTES PROPIAS */
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
ion-title{
    font-family: 'Chelsea Market', cursive;
    text-align: center;
    background-color:#21E2F2 ;
    font-size: 2.4em;
}


.text{
    font-family: 'Chelsea Market', cursive;
    font-weight: 100;
    font-size: 1.5em;
}

.capitalize{
    text-transform: capitalize;
}

ion-content {
    --background: none;
    background-image: url('/assets/img/fondoapp.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-toolbar{--background:#3393C8;}
ion-card-header{--background:#3393C8;}
ion-card{--background:#21E2F2;}

