<ion-menu side="start" menuId="main-menu" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      

      <ion-item *ngIf="authService.getCurrentUser()" href="/list" >
        <ion-icon slot="start" name="film-outline"></ion-icon>
          <ion-label><ion-menu-toogle>Mi Colección</ion-menu-toogle></ion-label>
        </ion-item>

        <ion-item *ngIf="authService.getCurrentUser()" href="/eventos">
          <ion-icon slot="start" name="newspaper-outline"></ion-icon>
          <ion-label>
            <ion-menu-toogle>Eventos y Noticias</ion-menu-toogle>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="authService.getCurrentUser()" (click)="authService.logout()" href="/login">
          <ion-icon slot="start" name="exit"></ion-icon>
          <ion-label>
            <ion-menu-toogle>Salir de la cuenta</ion-menu-toogle>
          </ion-label>
        </ion-item>

     
    </ion-list>
  </ion-content>
</ion-menu>