<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>MI COLECCIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
<!--
  
    <ion-item *ngFor="let item of items | async">
      <ion-avatar>
        <img [src]="item.imageUrl"/>
      </ion-avatar>
      <ion-icon name=""></ion-icon>
      <ion-label>{{ item.name }}</ion-label>
      <ion-label>{{ item.amount }}</ion-label>
      <ion-label>{{ item.format }}</ion-label>
      <ion-label>{{ item.score }}</ion-label>
      <span (click)= "goEditItem(item.itemId)" title="editar"><ion-icon name="pencil" ></ion-icon></span>
      <span class="text" (click)= "itemService.deleteItem(item.itemId)" title="borrar"><ion-icon name="close-circle" color="danger"></ion-icon></span>
    </ion-item>
  </ion-list>-->

  <ion-button (click)="addItem()">
    Añadir
  </ion-button>


  <ion-searchbar 
  [(ngModel)]="searchText"
  placeholder="Search by name"  [debounce]="25" showCancelButton="always"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor = "let item of items | async">
      <ion-label>
        <img [src]="item.imageUrl" width='150px'/>
      </ion-label>
      <ion-label>
        <h1 class="text"><b>Título:<ion-icon name=""></ion-icon></b> {{item.name}}</h1>
        <h2 class="text"><b>Precio:<ion-icon name=""></ion-icon></b>{{item.amount}}</h2>
        <h2 class="text"><b>Formato:<ion-icon name=""></ion-icon></b>{{item.format}}</h2>
        <h2 class="text"><b>Puntuación:<ion-icon name=""></ion-icon></b>{{item.score}}</h2>
        <br>
        <span (click)= "goEditItem(item.itemId)" title="editar"><ion-icon name="pencil" ></ion-icon></span>
      <span class="text" (click)= "itemService.deleteItem(item.itemId)" title="borrar"><ion-icon name="close-circle" color="danger"></ion-icon></span>
      </ion-label>

    </ion-item>
  </ion-list>

<!--
  <ion-chip *ngFor= "let item of items | async">
    <ion-avatar>
      <img [src]="item.imageUrl"/>
    </ion-avatar>
    <ion-label class="text capitalize">{{item.name}}<strong> {{item.amount}} {{item.format}} {{item.score}}</strong></ion-label>
    <ion-icon name=""></ion-icon>
    <span (click)= "goEditItem(item.itemId)" title="editar"><ion-icon name="pencil" ></ion-icon></span>
    <ion-icon name=""></ion-icon>
    <span class="text" (click)= "itemService.deleteItem(item.itemId)" title="borrar"><ion-icon name="close-circle" color="danger"></ion-icon></span>
  </ion-chip>-->


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addItem()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  

</ion-content>
